{% extends "layout.html" %}
{% block content %}
<!--Section: contact-->
<section class="my-3">

    <h4 class="text-center py-3 text-decoration-underline">Contact</h4>

    <div class="container">
        <div class="row g-0 align-items-center">
            <div class="col-xl-7 mb-4 mb-xl-0">
                <!-- map -->
                <iframe class="col-md-12" height="350px"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.138268457878!2d127.07144581539984!3d37.551806032728976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca4d0720eecc1%3A0x1a7ad975c6b5e4eb!2sSejong%20University!5e0!3m2!1sen!2skr!4v1678864186760!5m2!1sen!2skr"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-xl-5 ms-0 ms-xl-n5">
                <div class="card rounded-6 shadow-5">
                    <div class="card-body px-4 p-4 p-md-5 p-lg-4 p-xl-5">
                        <p>Please feel free to contact me:</p>
                        <form action="{{ url_for('contact') }}" method="POST">
                            <!-- Name input -->
                            <div class="form-outline mb-4">
                                <input type="text" name="name" id="form4Example1" class="form-control" />
                                <label class="form-label" for="form4Example1">Name</label>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" name="email" id="form4Example2" class="form-control" />
                                <label class="form-label" for="form4Example2">Email address</label>
                            </div>

                            <!-- Subject input -->
                            <div class="form-outline mb-4">
                                <input type="text" name="subject" id="form4Example2" class="form-control" />
                                <label class="form-label" for="form4Example2">Subject</label>
                            </div>

                            <!-- Message input -->
                            <div class="form-outline mb-4">
                                <textarea class="form-control" name="content" id="form4Example3" rows="4"></textarea>
                                <label class="form-label" for="form4Example3">Message</label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--Section: contact -->
{% endblock %}