{% extends "layout.html" %}
{% block content %}
<!--Section: project detail-->
<section class="my-3">

    {% if data %}
    <!-- project title -->
    <h4 class="text-center py-3 text-decoration-underline">{{ data.title }}</h4>
    <!-- project title -->

    <div class="row">
        <div class="col-md-12 mb-4">
            <!--Section: project meta -->
            <section class="border-bottom mb-4">
                <!-- blog project image -->
                <img src="{{ url_for('display_image', filename=data.image) }}"
                    class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />
                <!-- blog project image -->

                <!-- blog project meta info -->
                <div class="row align-items-center mb-4">
                    <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                        <span> Duration: <u>{{ data.duration }}</u>. Funded by </span> {{ data.funder }}
                    </div>
                </div>
                <!-- blog project meta info -->

            </section>
            <!--Section: project meta -->

            <!--Section: Blog project Content -->
            <section>
                <p>
                    {{ data.content }}
                <p>
            </section>
            <!--Section: Blog project Content -->


        </div>

    </div>
    {% else %}
        <h4 class="text-center py-3 text-decoration-underline">Sorry. Data is not found.</h4>
    {% endif %}
</section>
<!--Section: Blog project detail-->
{% endblock %}