{% extends "layout.html" %}
{% block content %}
<section class="my-3 text-center"> <!--색션 클래스 지정--> 
    <h4 class="text-center py-3 text-decoration-underline">Sign In</h4>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form action="{{ url_for('sign_in') }}" method="POST">
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" name="Id/Email" id="form3Example3" class="form-control" />
                    <label class="form-label" for="form3Example3">Id</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" name="password" id="form3Example4" class="form-control" />
                    <label class="form-label" for="form3Example4">비밀번호</label>
                </div>

                <!-- Password2 input -->
                <div class="form-outline mb-4">
                    <input type="password" name="password2" id="form3Example4" class="form-control" />
                    <label class="form-label" for="form3Example4">비밀번호 확인</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    가입
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}